<main class="contenedor mt-5">
    <h2>Conoce nuestros 3 modelos</h2>
  
    <div class="modelo basico">
      <div class="contenido-modelo">
        <h3>Modelo Básico</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, odit? Distinctio iure temporibus ab
          repellendus iste reiciendis accusantium nostrum, sit, cum accusamus omnis tempora facilis facere, pariatur ad
          repellat ex!</p>
        <a href="#" class="btn">Más Información</a>
      </div>
    </div> <!--.modelo-->
  
    <div class="modelo premier">
      <div class="contenido-modelo">
        <h3>Modelo Premier</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, odit? Distinctio iure temporibus ab
          repellendus iste reiciendis accusantium nostrum, sit, cum accusamus omnis tempora facilis facere, pariatur ad
          repellat ex!</p>
        <a href="#" class="btn">Más Información</a>
      </div>
    </div> <!--.modelo-->
  
    <div class="modelo elite">
      <div class="contenido-modelo">
        <h3>Modelo Elite</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, odit? Distinctio iure temporibus ab
          repellendus iste reiciendis accusantium nostrum, sit, cum accusamus omnis tempora facilis facere, pariatur ad
          repellat ex!</p>
        <a href="#" class="btn">Más Información</a>
      </div>
    </div> <!--.modelo-->
  
  
  </main>
  