.header{
    min-height: 60rem;
    background-image: url(/assets/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}

.header a {
    color:var(--blanco);
    font-size: 2rem;
}
.contenido-header {
    display: flex;
    flex-direction: column;
    height: calc(60rem - 4rem);
    justify-content: space-between;
    color: var(--blanco);
}
.nombre-sitio {
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
}
.nombre-sitio span {
    font-weight: 800;
}


.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* navegacion */
.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.telefono {
    display: flex;
    gap: 10px;
}

.telefono::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url(/assets/img/telefono.png);
    background-repeat: no-repeat;
    background-position: center;

}
.navegacion  a {
    padding: .5rem;
    transition: background-color 300ms;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
.navegacion a:hover{
    background-color: rgb(255 255 255 / .5);
    color: var(--negro);
}

.slogan {
    text-align: center;
}


.slogan h1 {
    font-size: 3rem;
    margin: 0;
}


.slogan p {
    margin: 0;
    line-height: 1.5;
}
/* Responsive */

@media ( min-width: 768px) {
    .header{
        padding: 2rem 0;
    }
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nombre-sitio{
        font-size: 5rem;
    }

    .contacto{
        align-items: flex-end;
    }
    .navegacion {
        flex-direction: row;
      
    }
    .navegacion a {
        padding: 1rem 2rem;
    }
    .slogan{
        text-align: right;
    }

    .slogan h1 {
        font-size: 5rem;
    }
    
}


